html, body {
    height: 100vh;
    min-height: 100%;
    background-color:lightskyblue;
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column wrap;
}

input {
    color: #1a1a1a;
    text-align: left;
 }

.boink { 
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: green;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
}

.songname1, .songname2, .songname3 {
    margin-top: 15px;
}

#refresh {
    align-items: left;
 }
#refresh:hover {
    cursor: pointer;
 }