body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    background-color: #A8DADC;
    font-family: 'Montserrat', sans-serif;
    /* cursor: url('../images/musicnote.png'); */
}

#musixform { 
    margin-top: 10vh;
    left: 40vw;
    color: #E63946;
    font-size: 35px;
    display: inline-block;
    text-align: center;
    position: relative;
}

h6 {
    margin-top: 10%;
    margin-bottom: 5%;
}

input {
    color: #1a1a1a;
}

.hidden {
    display: none;
}

#refresh {
    align-items: left;
}
#refresh:hover {
    cursor: pointer;
}

.headerbar, .your-results {
    margin-top: 5%;
    margin-left: 5%;
    width: 90vw;
    height: auto;
    color: #A8DADC;
    font-size: 25px;
    text-align: center;
    /* display: none; */
}

.Song, .Album, .Artist {
    padding: 5px;
    width: 25%;
    background-color: #457B9D;
    display: inline-block;
    text-align: center;
}

.your-results {
    margin-top: 2%;
    background-color: aliceblue;
    color: #A8DADC;
    font-size: 20px;
    text-align: left;
    overflow: auto;
}

.result {
    margin: 25px;
    background-color: transparent;
}

.result:hover{
    opacity: 0.5;
}

.songname, .albumname, .artistname {
    margin: 10px;
    margin-right: 20px;
    color: #457B9D;
    line-height: 30px;
    display: inline;
}

.songname {
    color: #E63946;
}

